{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Update Provider</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>Update Proveedor</h2>
    <div class="form-group row">
      <label for="nombre_proveedor">Nombre del proveedor:</label>
      <input type="text" class="form-control" name="nombre_proveedor" id="nombre_proveedor" value="{{ provider.nombre_proveedor }}" readonly>
  </div>
  

    <form action="" method = "POST">{% csrf_token %}
        <div class="form-group row">
          <label for="no_clabe">Clasificación:</label>
          <select name="no_clabe" id="no_clabe" class="form-control" value="{{provider.no_clabe}}">
            <option value="0">Refacciones</option>
            <option value="1">Largo plazo</option>
            <option value="2">Diesel</option>
            <option value="3">Llantas</option>
            <option value="4">InterCompañias</option>
            <option value="5">Administracion</option>
            <option value="6">Operacion</option>
            <option value="7">Permisioarios</option>
            <option value="8">Otros</option>
            <option value="9">CortoPlazo</option>
            <option value="10">LargoPlazoAnt</option>
            <option value="11">Diesel Ant</option>
            <option value="12">EPP</option>
            <option value="13">Infra</option>
            <option value="14">Limpieza</option>
            <option value="15">Seguridad</option>
            <option value="16">Uniformes</option>
          </select>
          
        </div>
       
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="{% url 'get_proveedores_list' %}" class="btn btn-danger">Cancel</a>
      </form>
</body>
</html>